@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

nav a.link {
  overflow: hidden;
  position: relative;
}


nav a.link.active:before {
  background: linear-gradient(90deg,#2a398c .9%,#8894da 63.63%,hsla(0,0%,100%,.4));
  border-radius: 0.75rem;
  content: "";
  height: 3px;
  position: absolute;
  top: 100%;
  transition: .3s ease-in-out!important;
  width: 100%;
}

